# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyTorch checkpoints and weights
*.pth
*.pt
*.ckpt

# Datasets and large archives
kvasir-seg.zip
Kvasir-SEG/
data/

# Environments
.env
.venv
env/
venv/
ENV/

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
